<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ATM</title>
</head>
<body>
    <section id="ATM">
        <div>
            <h1>入力画面</h1>
            <input type="number" v-model="nyuryokugaku">
            <div>入力金額: {{ nyuryokugaku}}円</div>
            <button v-on:click="nyukin">入金</button>
            <button v-on:click="syukkin" v-bind:disabled="sagaku">出金</button>
        </div>

        <div>
            <h1>口座残高</h1>
            <div>残高: {{ zandaka }}円</div>
        </div>

        <div>
            <h1>取引記録</h1>
            <div v-for="log in logs">
                {{ log }}
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>